body {
    background-color: rgba(0, 255, 110, 0.027);
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 61, 20, 0.1);
    border-radius: 10px;
}
.logo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}
.button-login {
    width: 120px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
    background-color: rgba(110, 163, 117, 0.26);
    transition: all 0.3s ease;
}
.button-login:hover {
    background-color: rgb(39, 165, 56);
}
.icon {
    max-width: 300px;
    max-height: 300px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    height: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 61, 20, 0.1);
    border-radius: 10px;
    margin-top: 2%;
}
.button-sta {
    width: 150px;
    height: 50px;
    font-size: larger;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(110, 163, 117, 0.26);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.button-sta:hover {
    background-color: rgb(39, 165, 56);
    transform: translateY(-2px);
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
@media (min-width: 1366px) {
    .container {
        flex-direction: row;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}